.big{
  width: 420px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon{
  cursor: pointer;
  font-size: 30px;
}
span{
  color: #eeeeee;
}
.title{
  font-size: 40px;
}
